body{
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}

.small-text{
	font-size:70%;
}

#wrapper{
	margin:0 auto;
	text-align:left;
	width:992px; 
}

#canvas{
	position:relative;
	float:left;
	clear:both;
	width:990px;
	height:455px;
	background:url(../../images/background/desert.jpg) repeat-x;
	background-position:top;
	border:1px solid #000;
	overflow:hidden;
}

#preloader{
	position:absolute;
	width:990px;
	height:455px;
	z-index:3000;
	background:#333;
	text-align:center;
}

#progress-bar-text{
	position:absolute;
	left:220px;
	top:180px;
	font-size:10px;
	color:#fff;
	
}

#progress-bar-holder{
	position:absolute;
	left:220px;
	top:207px;
	width:500px;
	height:1px;
	overflow:hidden;
}

#progress-bar{
	position:absolute;
	left:-500px;
	width:500px;
	height:1px;
	background:#00cc00;
	
}

#intro-screen{
	position:absolute;
	width:990px;
	height:455px;
	background:url(../../images/screen/intro.png);
	z-index:2000;
	left:0;
	right:0;
}

#info-screen{
	position:absolute;
	text-align:center;
	width:500px;
	left:245px;
	color:#fff;
	font-size:30px;
	z-index:2000;
	top:100px;
}

#score-panel{
	padding-top:10px;
}

#info-screen a{
	font-size:20px;
	color:#fff;
	text-decoration:none;
}

#info-screen a:hover{
	color:#333;
}

#start-button{
	position:absolute;
	left:600px;
	top:80px;
	width:90px;
	color:#000;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
}

#start-button:hover{
	color:#fff;
}

#scoreboard{
	background-color: #000;
	border:1px solid #ccc;
	font-size:16px;
	color:#ccc;
	width:100px;
	height:30px;
	position:absolute;
	bottom:5px;
	left:5px;
}

#dashboard{
	font-size:14px;
	font-family:courier;
	color:#fff;
	width:320px;
	height:30px;
	position:absolute;
	top:5px;
	left:5px;
}

#health{
	float:left;
}

#score{
	margin-left:50px;
	float:left;
}

#mission-panel{
	position:absolute;
	font-family:courier;
	font-size:14px;
	color:#00f700;
	left:-272px;
	bottom:0px;
	height:160px;
	width:230px;
	padding:20px;
	background-color:#000;
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	/* for IE */
  	filter:alpha(opacity=65);
  	/* CSS3 standard */
 	opacity:0.65;
	z-index: 2000;
}

.explosion{
	background: url(../../images/animation/explosion-large.png);
	position:absolute;
	width:75px;
	height:75px;
}

.ship-hit{
	background: url(../../images/animation/explosion.png);
	position:absolute;
	width:46px;
	height:46px;
	left:85px;
}

.enemy-hit{
	background: url(../../images/animation/explosion.png);
	position:absolute;
	width:46px;
	height:46px;
	left:5px;
}